<section>

    <br>
      <form #f="ngForm" (ngSubmit)="soumissionFormulaire(f)">
          <label for="name">Prénom</label><br>
          <input name="name" [(ngModel)]="edit.name" placeholder="" type="text">
  
          <br>
          <br>

          <label for="surname">Nom de famille</label><br>
          <input name="surname" [(ngModel)]="edit.surname" placeholder="" type="text">
  
          <br>
          <br>

          <label for="promo">Promotion</label><br>
          <input name="promo" [(ngModel)]="edit.promo" placeholder="" type="text">
  
          <br>
          <br>

          <label for="spe">Spécialité</label><br>
          <input name="spe" [(ngModel)]="edit.spe" placeholder="" type="text">
  
          <br>
          <br>

          <label for="age">Age</label><br>
          <input name="age" [(ngModel)]="edit.age" placeholder="" type="text">
  
          <br>
          <br>

          <label for="photo">Photo de profil</label><br>
          <input name="photo" [(ngModel)]="edit.photo" placeholder="" type="text">
  
          <br>
          <br>

          <input type="submit" value="MODIFIER" [disabled]="f.invalid">
          <input type="reset" value="ANNULER">
      </form>
  </section>
  